.popup__container {
  box-sizing: border-box;
  width: 430px;
  height: 330px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 2px 36px 36px 36px;
}

@media screen and (max-width: 550px) {
  .popup__container {
    width: 282px;
    height: 322px;
    padding: 5px 19px 25px 19px;
  }
}
